<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.onepassword-warmer.chrome-signature-prewarm</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>REPLACE_WITH_ABSOLUTE_PATH/extras/prewarm-chrome-signature.sh</string>
  </array>
  <key>WatchPaths</key>
  <array>
    <string>/Applications/Google Chrome.app/Contents/Frameworks/Google Chrome Framework.framework/Versions</string>
  </array>
  <key>ThrottleInterval</key>
  <integer>600</integer>
  <key>RunAtLoad</key>
  <true/>
</dict>
</plist>
