<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.onepassword-warmer.chrome-preverify</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>HOME_PLACEHOLDER/code/1password-warmer/extras/preverify-chrome.sh</string>
  </array>
  <key>WatchPaths</key>
  <array>
    <string>/Applications/Google Chrome.app/Contents/Frameworks/Google Chrome Framework.framework/Versions</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>300</integer>
  <key>ProcessType</key>
  <string>Background</string>
</dict>
</plist>
